@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* header css start */
.top-bar {
  display: flex;
  align-items: center;
  padding: 0 32px;
  height: 90px;
  gap: 25px;
}

/* SEARCH */
.search-bar {
  display: flex;
  align-items: center;
  width: 720px;
  height: 56px;
  border: 2px solid #81b13d;
  border-radius: 6px;
  background: #fff;
  margin-left: auto;
}

.search-bar select {
  border: none;
  padding: 0 16px;
  font-weight: 500;
  background: transparent;
  outline: none;
}

.search-bar .divider {
  width: 1px;
  height: 60%;
  background: #cacaca;
  margin-left: 14px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 0 12px;
  outline: none;
}

.search-bar button {
  border: none;
  background: none;
  padding: 0 16px;
  cursor: pointer;
}

/* ICONS */
.icons {
  display: flex;
  gap: 28px;
}

.icon-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.icon-item img {
  width: 22px;
}

.badge-header {
  position: absolute;
  top: -10px;
  left: 12px;
  background: #3bb77e;
  color: #fff;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  padding: 0px 38px;
  gap: 18px;
  height: 56px;
  margin: 10px 0px;
}
hr {
  border: 1px solid #cacaca;
  margin: 20px 0px;
}
.browse-categories {
  background: #3bb77e;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  width: 259px;
  height: 43px;
}
.browse-categories img {
  height: 20px;
  margin-right: 6px;
}
.down-arrow {
  font-size: 0.9em;
  margin-left: 4px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 18px;
  list-style: none;
  margin: 0 0 0 18px;
  padding: 0;
}
.nav-menu li {
  display: flex;
  align-items: center;
}
.nav-menu a {
  color: #222;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 0;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav-menu a.active,
.nav-menu a:hover {
  color: #3bb77e;
}
.nav-menu img {
  height: 18px;
  margin-right: 4px;
}

.nav-menu li a .navimg {
  height: 30px;
}

.support {
  display: flex;
  align-items: center;
  gap: 8px;
}
.support img {
  height: 22px;
}
.support-phone-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.1;
}
.support-phone-nav {
  color: #3bb77e;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 4px;
  margin-bottom: 0;
}
.support-text {
  color: #888;
  font-size: 0.9rem;
  margin-left: 4px;
  margin-top: 2px;
}

/* header css end */

/* banner start */

.banner-section {
  background-image: url('/public/image/bannerbg.png');
  width: 1440px;
  height: 65vh;
  border-radius: 26px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-section .banner-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 60px;
  gap: 40px;
}

.banner-section .banner-content .banner-text h1 {
  width: 411px;
  height: 120px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.banner-section .banner-content .banner-text p {
  color: #b0a9a9;
  font-weight: 500;
  font-size: 20px;
  font-style: medium;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}
.subscribe-form {
  width: 414px;
  height: 67px;
  background: #ffffff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 6px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.subscribe-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 30px;
  font-size: 18px;
  color: #333;
  background: transparent;
}

.subscribe-form input::placeholder {
  color: #b0a9a9;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.subscribe-form button {
  height: 67px;
  min-width: 155px;
  padding: 0 40px;
  border: none;
  border-radius: 100px;
  background: #3bb77e;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.subscribe-form button:hover {
  background: #32a56f;
}

/* banner end */

/* banner2 start */

.banner-section2 {
  background-image: url('/public/image/bannerbg.png');
  width: 1440px;
  height: 65vh;
  border-radius: 26px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-section2 .banner-content2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 60px;
  gap: 8px;
}

.banner-section2 .banner-content2 .banner-text2 h1 {
  width: 594px;
  height: 120px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.banner-section2 .banner-content2 .banner-text2 p {
  color: #b0a9a9;
  font-weight: 500;
  font-size: 20px;
  font-style: medium;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}
.banner-section2 .banner-content2 .banner-text2 p span {
  color: #3bb77e;
}
.subscribe-form {
  width: 414px;
  height: 67px;
  background: #ffffff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 6px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.banner-section2 .subscribe-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 30px;
  font-size: 18px;
  color: #333;
  background: transparent;
}

.subscribe-form input::placeholder {
  color: #b0a9a9;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.subscribe-form button {
  height: 67px;
  min-width: 155px;
  padding: 0 40px;
  border: none;
  border-radius: 100px;
  background: #3bb77e;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.subscribe-form button:hover {
  background: #32a56f;
}

.banner-section2 .banner-content2 .banner-img2 img {
  width: 523px;
  height: 66vh;
  object-fit: cover;
}

/* banner2 end */

/* feature section start */

.featured {
  padding: 60px 50px;
}

.featured-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  gap: 45px;
}

.featured-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.category-tabs {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 14px;
}

.category-tabs li {
  cursor: pointer;
  color: #555;
}

.category-tabs li.active {
  color: #3bb77e;
  font-weight: 400;
  font-size: 16px;
}

.category-list {
  display: flex;
  gap: 36px;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.category-card {
  width: 110px;
  height: 148px;
  text-align: center;
  border-radius: 10px;
}

.category-card img {
  width: 60px;
  height: auto;
  margin-bottom: 12px;
  margin-top: 9px;
}

.category-card h4 {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.category-card span {
  font-size: 11px;
  color: #b0a9a9;
  font-weight: 500;
}

.promo-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 40px;
}

.promo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  border-radius: 14px;
}

.promo-card img {
  width: 180px;
  height: 164px;
  background-size: cover;
}

.promo-text h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.4;
  font-style: normal;
  letter-spacing: 0.02em;
}

.btn {
  display: inline-block;
  padding: 8px 18px;
  background: #3bb77e;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  margin-top: 45px;
}

/* Backgrounds */
.bg-cream {
  background: #f0e8d5;
  height: 244px;
}
.bg-pink {
  background: #f3e8e8;
  height: 244px;
}
.bg-blue {
  background: #e7eaf3;
  height: 244px;
}

/* Responsive */
@media (max-width: 768px) {
  .promo-section {
    grid-template-columns: 1fr;
  }
}

/* Color Variants */
.green {
  background: #f2fce4;
}
.pink {
  background: #fff3ff;
}
.yellow {
  background: #fffceb;
}
.peach {
  background: #ecffec;
}
.red {
  background: #feefea;
}
.purple {
  background: #f3e8ff;
}
.blackplum {
  background: #fff3eb;
}
.strawberry {
  background: #f2fce4;
}
.coffee {
  background: #feefea;
}

/* feature section end */

/* popular products starts */

.popular-products {
  padding: 5px 50px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.filter-tabs {
  display: flex;
  gap: 18px;
  list-style: none;
  font-size: 14px;
}

.filter-tabs li {
  cursor: pointer;
  color: #555;
}

.filter-tabs li.active {
  color: #3bb77e;
  font-weight: 600;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.product-card {
  position: relative;
  border: 1px solid #cebbbb;
  border-radius: 10px;
  padding: 18px;
  background: #fff;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}

.product-card h4 {
  font-size: 15px;
  margin-bottom: 6px;
}

.rating {
  font-size: 13px;
  color: #f5a623;
  margin-bottom: 6px;
}

.rating span {
  color: #777;
}

.brand {
  font-size: 13px;
  margin-bottom: 12px;
}

.brand span {
  color: #3bb77e;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #3bb77e;
  font-weight: 600;
}

.old-price {
  font-size: 13px;
  text-decoration: line-through;
  color: #aaa;
  margin-left: 6px;
}

.add-btn {
  background: #def9ec;
  color: #3bb77e;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

/* Badges */
.popular-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  padding: 4px 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 30px;
  color: #fff;
  width: 70px;
  height: 31px;
}

.popular-badge.hot {
  background: #f74b81;
}
.popular-badge.sale {
  background: #67bcee;
}
.popular-badge.green {
  background: #3bb77e;
}

/* popular products end */

/* daily sells start */
.daily-sells {
  padding: 60px 25px;
}

.daily-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 25px;
}

.daily-header h2 {
  font-size: 32px;
  font-weight: 600;
}

.daily-tabs {
  display: flex;
  gap: 18px;
  list-style: none;
  font-size: 14px;
}

.daily-tabs li {
  cursor: pointer;
  color: #555;
}

.daily-tabs li.active {
  color: #3bb77e;
  font-weight: 600;
}

/* Layout */
.daily-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 24px;
}

/* Promo */
.promo-box {
  background: #eaf7f2;
  border-radius: 16px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.promo-box a {
  text-decoration: none;
}

.promo-box h3 {
  font-size: 32px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.shop-btn {
  display: inline-block;
  background: #3bb77e;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
}

.promo-box img {
  position: absolute;
  bottom: -8px;
  right: -10px;
  width: 236px;
  height: 224px;
}

/* Products */
.daily-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.daily-card {
  position: relative;
  border: 1px solid #cebbbb;
  border-radius: 14px;
  padding: 18px;
  background: #fff;
}

.daily-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.vendor {
  font-size: 12px;
  color: #999;
}

.daily-card h4 {
  font-size: 14px;
  margin: 6px 0;
}

.rating {
  color: #f5a623;
  font-size: 13px;
  margin-bottom: 6px;
}

.price {
  font-weight: 600;
  color: #3bb77e;
  margin-bottom: 10px;
}

.price span {
  text-decoration: line-through;
  color: #aaa;
  font-size: 13px;
  margin-left: 6px;
}

.progress {
  height: 6px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
}

.progress span {
  display: block;
  height: 100%;
  background: #3bb77e;
}

.sold {
  font-size: 12px;
  margin: 6px 0 12px;
}

.cart-btn {
  width: 100%;
  background: #3bb77e;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* Badge */
.sale-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  padding: 4px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 30px;
  color: #fff;
  width: 70px;
  height: 31px;
}

.sale-badge.yellow {
  background: #fdc040;
}
.sale-badge.blue {
  background: #67bcee;
}
.sale-badge.pink {
  background: #f74b81;
}
.sale-badge.purple {
  background: #9747ff;
}

/* daily sells end */

/* deals start */

.deals {
  padding: 5px 25px;
  margin-bottom: 22px;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.deals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/* Image container */
.deal-image {
  position: relative;
  height: 319px;
  border-radius: 18px;
  overflow: visible;
  width: 329px;
}

.deal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Countdown → middle overlay */
.countdown {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 8px;
  z-index: 3;
}

.countdown div {
  background: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  width: 50px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.countdown strong {
  display: block;
  font-size: 14px;
  color: #3bb77e;
}

.countdown span {
  font-size: 11px;
  color: #666;
}

/* Deal info → half inside / half outside */
.deal-info {
  position: absolute;
  bottom: -35px; /* 🔥 key line */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
  z-index: 2;
}

.deal-info h4 {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 6px;
}

.rating {
  color: #f5a623;
  font-size: 13px;
  margin-bottom: 6px;
}

.brand {
  font-size: 12px;
  color: #777;
}

.brand span {
  color: #3bb77e;
}

/* Bottom row */
.deal-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 600;
  color: #3bb77e;
}

.price span {
  text-decoration: line-through;
  font-size: 13px;
  color: #aaa;
  margin-left: 6px;
}

.add-btn {
  background: #e8f9f1;
  color: #3bb77e;
  border: none;
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

/* deals end */

/* top products start */

.top-products {
  padding: 60px 25px;
}

.product-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Column */
.product-col h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
  position: relative;
}

.product-col h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 40px;
  height: 2px;
  background: #3bb77e;
}

/* Product item */
.product-item {
  display: flex;
  gap: 14px;
  padding: 14px 0;
}

.product-item:last-child {
  border-bottom: none;
}

.product-item img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  border-radius: 10px;
  padding: 6px;
  background: #f7f8fa;
}

.info .title {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 4px;
}

.rating {
  font-size: 12px;
  color: #f5a623;
  margin-bottom: 4px;
}

.rating span {
  color: #999;
}

.price {
  font-size: 14px;
  color: #3bb77e;
  font-weight: 600;
}

.price span {
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
  margin-left: 6px;
}

@media (max-width: 1024px) {
  .product-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-columns {
    grid-template-columns: 1fr;
  }
}

/* top products end */

/* delivery section start */
.delivery {
  padding: 40px 0;
}

.delivery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.delivery-card {
  background: #f6f7f9;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.delivery-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.delivery-text h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.delivery-text p {
  font-size: 12px;
  color: #7e7e7e;
}

/* Responsive */
@media (max-width: 1024px) {
  .delivery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .delivery-container {
    grid-template-columns: 1fr;
  }
}

/* delivery section end */

/* footer start */

.footer {
  padding: 20px 0;
}

.footer-top {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 40px;
  padding: 0 25px;
}

.footer-logo {
  width: 140px;
  margin-bottom: 16px;
}

.footer-desc {
  font-size: 14px;
  margin-bottom: 20px;
  width: 243px;
  height: 38px;
}

.footer-contact li {
  list-style: none;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}

.footer-contact img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer-title {
  margin: 24px 0px;
  font-size: 16px;
}
.footer-desc-secure {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}
.footer-contact li strong {
  font-weight: 600;
  margin-right: 6px;
  font-size: 13px;
}

.app-buttons img {
  width: 87px;
  margin-right: 10px;
}

.payments img {
  width: 85px;
  height: 25px;
  margin-right: 8px;
}

.footer-col h4 {
  font-size: 20px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
}

.footer-col ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.footer-col ul li a:hover {
  color: #3bb77e;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid #3bb77e;
  margin-top: 40px;
  padding: 20px 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.support {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.support .contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-bottom > p {
  flex: 1 1 0;
  min-width: 180px;
}
.footer-bottom .support {
  flex: 1 1 0;
  justify-content: center;
}
.footer-bottom .social {
  flex: 1 1 0;
  justify-content: flex-end;
}

.support .contact-item img {
  width: 30px;
  height: 30px;
}

.support strong {
  color: #3bb77e;
  font-weight: 500;
  font-size: 13px;
}

.support span {
  display: block;
  color: #b0a9a9;
  font-size: 16px;
  font-weight: 400;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.social-icons-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons-row span {
  font-weight: 600;
  margin-right: 5px;
}

.social a {
  width: 32px;
  height: 32px;
  background: #3bb77e;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  transition: 0.3s;
}

.social a:hover {
  background: #29a56c;
  transform: translateY(-3px);
}

.social-discount {
  font-size: 13px;
  color: #000000;
  margin: 0;
}

@media (max-width: 768px) {
  .social {
    align-items: center;
    text-align: center;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* footer end */

/* responsive code */
@media screen and (max-width: 480px) {
  .top-bar {
    height: auto;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  .icons {
    order: 2;
    gap: 15px;
  }

  .icon-item span:last-child {
    display: none;
  }

  .search-bar {
    order: 3;
    width: 100%;
    height: 48px;
  }

  .search-bar select,
  .search-bar .divider {
    display: none;
  }

  .navbar {
    height: auto;
    flex-direction: column;
    padding: 10px 15px;
    gap: 15px;
  }

  .browse-categories {
    width: 100%;
  }

  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 10px;
  }

  .nav-menu li a {
    font-size: 14px;
    padding: 5px;
  }

  .support {
    display: none;
  }

  .promo-section {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .promo-card {
    height: auto;
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .promo-card img {
    margin-top: 15px;
    width: 150px;
    height: auto;
  }

  .product-grid,
  .daily-products,
  .deals-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .filter-tabs {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .filter-tabs li {
    flex-shrink: 0;
  }

  .daily-layout {
    grid-template-columns: 1fr;
  }

  .featured {
    padding: 30px 15px;
  }

  .category-list {
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
  }

  .category-list::-webkit-scrollbar {
    height: 4px;
  }

  .category-list::-webkit-scrollbar-thumb {
    background: #def9ec;
    border-radius: 10px;
  }

  .category-card {
    flex: 0 0 110px;
  }

  .promo-box {
    height: 300px;
    margin-bottom: 20px;
  }

  .deals .section-title {
    text-align: center;
  }

  .deal-card {
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .deal-image {
    width: 329px;
    max-width: 100%;
    height: 319px;
  }

  .deal-info {
    width: 80%;
    bottom: -35px;
  }

  .product-columns {
    grid-template-columns: 1fr;
  }

  /* Delivery Services Strip */
  .delivery-container {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

  /* Footer responsiveness */
  .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  .footer-logo,
  .footer-desc,
  .footer-desc-secure {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-contact li {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-bottom .support,
  .footer-bottom .social {
    justify-content: center;
    width: 100%;
  }

  /* --- BANNER RESPONSIVE --- */

  .banner-section {
    width: 100%;
    height: auto;
    padding: 30px 15px;
    border-radius: 0;
  }

  .banner-section2 {
    width: 100%;
    height: auto;
    padding: 30px 15px 0;
    border-radius: 0;
  }

  .banner-section .banner-content,
  .banner-section2 .banner-content2 {
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 20px;
  }

  .banner-section .banner-content .banner-text h1,
  .banner-section2 .banner-content2 .banner-text2 h1 {
    width: 100%;
    font-size: 26px;
    height: auto;
    margin-bottom: 15px;
  }

  .banner-img img,
  .banner-img2 img {
    width: 100%;
    height: auto;
  }

  .banner-section2 .banner-content2 .banner-img2 img {
    width: 100%;
    max-width: 462px;
    height: auto;
    display: block;
    margin-bottom: 0;
  }

  .subscribe-form {
    width: 100%;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
  }

  .subscribe-form input {
    width: 100%;
    padding: 15px;
  }

  .subscribe-form button {
    width: 100%;
    margin-top: 10px;
    height: 50px;
    min-width: unset;
  }
}
